/* */

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("/fonts/poppins/Poppins-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
}

@font-face {
    font-family: "Lato";
    src: url("/fonts/poppins/Lato-Regular.ttf");
    font-display: swap;
}

:root {
    --branco: #fff;
    --verde-claro: #009934;
    --verde-escuro: #006633;
    --cinza-claro: #f1f1f1;
    --cinza-escuro: #4c4c4c;
    --cinza-claro-secundario: #f9f9f9;
}

.reference {
    background-image: url("/img/grid.png");
    height: 1000vh;
    width: 100vw;
    opacity: 0.5;
    position: absolute;
    top: -400px;
    left: 0;
    z-index: -1;
    display: none;
    margin-top: 0rem;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.container {
    max-width: 85vw;
    margin: auto;
}

header {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.03) !important;
}

header .contact {
    height: 50px;
    background-color: var(--verde-claro);
    font-size: 18px;
    color: var(--branco);
    font-family: Roboto, sans-serif;
}

header .contact .contact-container {
    display: flex;
    height: 100%;
    align-items: center;
}

header .contact i {
    padding: 10px;
}

header .contact span:not(:first-of-type) {
    padding-left: 20px;
}

header .main {
    display: flex;
    align-items: center;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    justify-content: space-between;
}

header .main .search {
    background-color: var(--cinza-claro);
    border: none;
    outline: none;
    height: 4rem;
    width: 50rem;
    font-size: 32px;
    padding: 0 1.5rem;
    border-radius: 1rem;
}

header .main .arca-container {
    font-size: 32px;
}

header .main .profile-container {
    background-color: var(--verde-claro);
    font-size: 18px;
    padding: 1.3rem 2.8rem;
    border-radius: 0.8rem;
    color: var(--branco);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

header .main .profile-container:hover{
    color: var(--verde-escuro);
}

header .main .profile-container i {
    padding-right: 1rem;
    font-size: 24px;
}

header .menu {
    display: flex;
    align-items: center;
    margin-top: 1.7rem;
    padding-bottom: 1.7rem;
    justify-content: space-between;
}

header .menu-item {
    padding: 0 4rem;
    font-size: 18px;
    color: var(--cinza-escuro);
    text-decoration: none;
}

header .logo {
    width: 325px;
    height: 100px;
}

nav.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 2rem;
}

nav.breadcrumb .breadcrumb-link + .breadcrumb-link::before {
    float: left;
    padding-right: 1rem;
    content: "/";
    color: var(--cinza-escuro);
}

nav.breadcrumb .breadcrumb-link {
    color: var(--verde-claro);
    padding-right: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
}

section {
    margin-top: 2rem;
}

.produto .detalhe {
    display: flex;
    flex-direction: row;
}

.produto .imagens,
.produto .infos {
    width: 50%;
    padding: 0 1rem;
}

.produto .imagem.single img {
    width: 730px;
    height: 548px;
    opacity: 0.2;
}

.produto .infos .cod {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.produto .infos .nome {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 600;
    margin: 1rem 0;
}

.produto .infos .descricao {
    white-space: pre-wrap;
}

.produto .mais-infos .descricao-longa-header{
    margin-top: 4rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--cinza-claro-secundario);
    padding: 2rem 6rem;
    border-radius: 12px;
    position: relative;
}

.produto .mais-infos .descricao-longa-header h3{
    margin: 0;
    font-size: 24px;
    color:var(--verde-claro);
    font-weight: 600;
    display: inline-block;
}

.descricao-longa-header::after {
    position: absolute;
    content: "";
    background-color: var(--verde-claro);
    height: 0.4rem;
    width: 8rem;
    bottom: 0;
    left: 6rem;
    border-radius: 0.8rem 0.8rem 0 0;
}

.produto .mais-infos .descricao-longa{
    white-space: pre-wrap;
    padding: 2rem 4rem;
}

.produto .mais-infos .descricao-longa p{
    margin:0;
}

